{% extends 'base.html' %}
{% block title %} Хобі {% endblock %}

{% block body %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>Хобі</h1>
        <h3>Для розширення кругозору</h3>
    </div>
</header>
<section class="page-section portfolio" id="portfolio">
    <div class="row">
        <div class="container col-md-6 col-lg-6">
            <table class="table table-secondary">
                <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Хоббі</th>
                    <th scope="col">Опис</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Відеоігри</td>
                    <td>Граю їх з дитинства і будь-де</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Книги</td>
                    <td>Люблю фентезі та детективи</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Математика</td>
                    <td>Мав хороші оцінки з цього предмету в школі</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container col-md-3 col-lg-4">
            <div class="align-items-center">
                <img src="{{ url_for('static', filename='images/logo_v.png') }}" alt="..." />
                <h3 class="caption">Красива картина</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}